
name: Hourly Python Script

on:
  schedule:
    - cron: '32 6 * * *'  # 每天 6 点执行

jobs:
  run-python:
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'

      - name: Set Beijing Timezone
        uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Asia/Shanghai"
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        run: echo "任务执行时间day: $(date '+%Y-%m-%d %H:%M:%S')"

      - name: Run Python script
        run: python day.py
